[package]
name = "cu-rp-encoder"
description = "This is a driver for the Raspberry Pi to decode a directional encoder from GPIOs."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.cargo-machete]
ignored = ["cu29-log", "cu29-log-runtime"]

[dependencies]
cu29 = { workspace = true }
cu29-traits = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
rppal = { version = "0.22.1", features = ["hal"] }

[build-dependencies]
cfg_aliases = "0.2.1"

[features]
default = []
mock = []
