[package]
name = "cu29-runtime"
description = "Copper Runtime Runtime crate. Copper is an engine for robotics."
documentation = "https://docs.rs/cu29"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true


[package.metadata.cargo-machete]
ignored = ["cu29-log-runtime", "cu29-log"] # It is used from a proc macro

[[bin]]
name = "cu29-rendercfg"
path = "src/rendercfg.rs"

[dependencies]
bincode = { workspace = true }
serde = { workspace = true }
serde_derive = { workspace = true }
compact_str = { workspace = true }
cu29-traits = { workspace = true }
cu29-log = { workspace = true }
cu29-log-derive = { workspace = true }
cu29-log-runtime = { workspace = true }  # needed
cu29-unifiedlog = { workspace = true }
cu29-value = { workspace = true }
cu29-clock = { workspace = true }
clap = { workspace = true }
tempfile = { workspace = true }
arrayvec = "0.7.6"
ron = "0.8.1"
hdrhistogram = "7.5.4"
petgraph = { version = "0.7.1", features = ["serde", "serde-1", "serde_derive"] }
object-pool = "0.6.0"

[target.'cfg(target_os = "linux")'.dependencies]
cudarc = { version = "0.13", optional = true, features = ["cuda-version-from-build-system"] }

[features]
default = []
cuda = []

[target.'cfg(target_os = "linux")'.features]
cuda = ["cudarc"]
