[package]
name = "cu-pointclouds"
description = "This is small sink example to display a Copper pointcloud in rerun"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu29-helpers = { workspace = true }
tempfile = "3.14.0"
cu-hesai = { path = "../../components/sources/cu_hesai", version = "0.6.0" }
cu-udp-inject = { path = "../../components/testing/cu_udp_inject" }
rerun = { workspace = true }
