#![enable(implicit_some)]
(
    graph: (
        nodes: [
            (
                name: "copper-isp",
                base_period_ns: 1000000000,
            ),
            (
                name: "copper-camera",
                base_period_ns: 60000000000,
            ),
            (
                name: "copper-algo",
                base_period_ns: 5000000000,
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [
            (0, 1, Local),
            (1, 2, Local),
        ],
    ),
)
