[package]
name = "cu-linux-resources"
description = "Linux/host resource bundle for serial, I2C and GPIO devices."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { path = "../../../core/cu29", version = "0.13.0", default-features = false, features = [
  "std",
] }
embedded-hal = { version = "1.0.0", default-features = false }
embedded-io = { version = "0.6.1", default-features = false, features = [
  "std",
] }
embedded-io-07 = { package = "embedded-io", version = "0.7.1", default-features = false, optional = true }
serialport = { version = "4.8.1" }

[target.'cfg(target_os = "linux")'.dependencies]
linux-embedded-hal = "0.4.0"
rppal = { version = "0.22.1", default-features = false, features = ["hal"] }

[features]
default = []
embedded-io-07 = ["dep:embedded-io-07"]
defmt = ["embedded-io/defmt-03", "embedded-hal/defmt-03", "cu29/defmt"]
alloc = ["embedded-io/alloc"]
