(
    tasks: [
        (
            id: "heartbeat",
            type: "tasks::HeartbeatSource",
        ),
        (
            id: "heartbeat_sink",
            type: "tasks::HeartbeatSink",
        ),
    ],
    cnx: [
        (
            src: "heartbeat",
            dst: "heartbeat_sink",
            msg: "u64",
        ),
    ],
)