(
    tasks: [
        (
            id: "mipi_camera",
            type: "cu_gstreamer::CuDefaultGStreamer",
            config: {
                "pipeline": "nvarguscamerasrc ! video/x-raw(memory:NVMM),width=1920,height=1080,framerate=30/1 ! appsink name=copper",
                "caps": "video/x-raw(memory:NVMM),format=NV12,width=1920,height=1080",
            },
        ),
        (
            id: "camera_sink",
            type: "tasks::JetsonFrameSink",
        ),
    ],
    cnx: [
        (
            src: "mipi_camera",
            dst: "camera_sink",
            msg: "cu_gstreamer::CuGstBuffer",
        ),
    ],
)