.idea
/target
/cu29_export.so
/AGENTS.md

*.copper
Cargo.lock

# ROS stuff
/examples/ros_caterpillar/build
/examples/ros_caterpillar/log
/examples/ros_caterpillar/install
/examples/ros_zenoh_caterpillar/build
/examples/ros_zenoh_caterpillar/log
/examples/ros_zenoh_caterpillar/install
/examples/cu_rp_balancebot/cu29_log_index

# independent project from the workspace
/examples/cu_rp2350_skeleton/.idea/                                                                                                                                                    
/examples/cu_rp2350_skeleton/target/ 

# Test generation project
/templates/test_project
