/target
/.idea
/cu29_export.so

*.copper
Cargo.lock

# ROS stuff
/examples/ros_caterpillar/build
/examples/ros_caterpillar/log
/examples/ros_caterpillar/install
/examples/ros_zenoh_caterpillar/build
/examples/ros_zenoh_caterpillar/log
/examples/ros_zenoh_caterpillar/install
/examples/cu_rp_balancebot/cu29_log_index

# Test generation project
/templates/test_project
