repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-added-large-files
        args: ["--maxkb=4096"]
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-symlinks
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: ["--branch=master"]

  - repo: local
    hooks:
      - id: typos
        name: typos check
        entry: typos -c .config/_typos.toml
        language: system
        pass_filenames: false
      - id: rust format
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        pass_filenames: false
      - id: ron format
        name: fmtron
        entry: bash -c "git ls-files -z '*.ron' ':!examples/modular_config_example/motors.ron' | xargs -0 -r -n 1 fmtron --input>/dev/null; rg --files -g '*.ron.bak' | xargs rm -f"
        language: system
        pass_filenames: false
