[workspace]
members = [
    "core/cu29",
    "core/cu29_clock",
    "core/cu29_derive",
    "core/cu29_export",
    "core/cu29_helpers",
    "core/cu29_intern_strs",
    "core/cu29_log",
    "core/cu29_log_derive",
    "core/cu29_log_runtime",
    "core/cu29_soa_derive",
    "core/cu29_traits",
    "core/cu29_unifiedlog",
    "components/monitors/cu_consolemon",
    "components/payloads/cu_sensor_payloads",
    "components/sinks/cu_iceoryx2_sink",
    "components/sinks/cu_rp_gpio",
    "components/sinks/cu_rp_sn754410",
    "components/sinks/cu_lewansoul",
    "components/sources/cu_ads7883",
    "components/sources/cu_hesai",
    "components/sources/cu_iceoryx2_src",
    "components/sources/cu_vlp16",
    "components/sources/cu_wt901",
    "components/sources/cu_rp_encoder",
    "components/tasks/cu_aligner",
    "components/tasks/cu_pid",
    "examples/cu_config_gen",
    "examples/cu_standalone_structlog",
    "examples/cu_caterpillar",
    "examples/cu_rp_balancebot",
    "examples/cu_multisources",
    "examples/cu_monitoring",
    "examples/cu_iceoryx2",
]

# put only the core crates here that are not platform specific
default-members = [
    "core/cu29",
    "core/cu29_clock",
    "core/cu29_derive",
    "core/cu29_export",
    "core/cu29_helpers",
    "core/cu29_intern_strs",
    "core/cu29_log",
    "core/cu29_log_derive",
    "core/cu29_log_runtime",
    "core/cu29_soa_derive",
    "core/cu29_traits",
    "core/cu29_unifiedlog",
]

resolver = "2"

[workspace.package]
version = "0.5.0"
authors = ["Guillaume Binet <gbin@gootz.net>"]
edition = "2021"
license = "Apache-2.0"
keywords = ["robotics", "middleware", "copper", "real-time"]
categories = ["science::robotics"]
homepage = "https://github.com/copper-project"
repository = "https://github.com/copper-project/copper-rs"

[workspace.dependencies]

# Copper Core
cu29 = { path = "core/cu29" }
cu29-clock = { path = "core/cu29_clock" }
cu29-derive = { path = "core/cu29_derive" }
cu29-export = { path = "core/cu29_export" }
cu29-helpers = { path = "core/cu29_helpers" }
cu29-intern-strs = { path = "core/cu29_intern_strs" }
cu29-log = { path = "core/cu29_log" }
cu29-log-derive = { path = "core/cu29_log_derive" }
cu29-log-runtime = { path = "core/cu29_log_runtime" }
cu29-soa-derive = { path = "core/cu29_soa_derive" }
cu29-traits = { path = "core/cu29_traits" }
cu29-unifiedlog = { path = "core/cu29_unifiedlog" }
cu29-value = { path = "core/cu29_value" }

# Payload definitions
cu-sensor-payloads = { path = "components/payloads/cu_sensor_payloads" }

# External serialization
bincode = { version = "2.0.0-rc.3", features = ["derive"] }
serde = { version = "1.0.215", features = ["derive"] }
serde_derive = { version = "1.0.115", features = ["default"] }

# External CLI
clap = { version = "4.5.21", features = ["derive"] }

# External proc macros
proc-macro2 = { version = "1.0.89" }
quote = "1.0.37" # proc macros
syn = { version = "2.0.85", features = ["full"] } # proc macros

# Unit of measure to be consistent across the project
uom = { version = "0.36.0", features = ["serde"] }

# Compact strings support
compact_str = { version = "0.8.0", features = ["serde"] }

# The derive patterns happens a lot across the codebase, this is a helper for that.
derive_more = { version = "1", features = ["full"] }

# used across testing
tempfile = "3.14.0"

# [profile.release]
# lto = true
