[workspace]
members = [
    "cu29",
    "cu29_clock",
    "cu29_derive",
    "cu29_export",
    "cu29_helpers",
    "cu29_intern_strs",
    "cu29_log",
    "cu29_log_derive",
    "cu29_log_runtime",
    "cu29_soa_derive",
    "cu29_traits",
    "cu29_unifiedlog",
    "drivers/cu_vlp16",
    "examples/cu_caterpillar",
    "examples/cu_config_gen",
    "examples/cu_standalone_structlog",
    ]
resolver = "2"

[workspace.package]
version = "0.2.2"
authors = ["Guillaume Binet <gbin@gootz.net>"]
edition = "2021"
license = "Apache-2.0"
keywords = ["robotics", "middleware", "copper", "real-time"]
categories = ["science::robotics"]
homepage = "https://github.com/copper-project"
repository = "https://github.com/copper-project/copper-rs"

[workspace.dependencies]

# Copper Core
cu29 = { path = "cu29", version = "0.2.2" }
cu29-clock = { path = "cu29_clock", version = "0.2.2" }
cu29-derive = { path = "cu29_derive", version = "0.2.2" }
cu29-export = { path = "cu29_export", version = "0.2.2" }
cu29-helpers = { path = "cu29_helpers", version = "0.2.2" }
cu29-intern-strs = { path = "cu29_intern_strs", version = "0.2.2" }
cu29-log = { path = "cu29_log", version = "0.2.2" }
cu29-log-derive = { path = "cu29_log_derive", version = "0.2.2" }
cu29-log-runtime = { path = "cu29_log_runtime", version = "0.2.2" }
cu29-soa-derive = { path = "cu29_soa_derive", version = "0.2.2" }
cu29-traits = { path = "cu29_traits", version = "0.2.2" }
cu29-unifiedlog = { path = "cu29_unifiedlog", version = "0.2.2" }
cu29-value = { path = "cu29_value", version = "0.2.2" }

# External serialization
bincode = { version = "2.0.0-rc.3", features = ["derive"] }
serde = { version = "1.0.204", features = ["derive"] }
serde_derive = "1.0.204"

# External CLI
clap = { version = "4.5.9", features = ["derive"] }

# External proc macros
proc-macro2 = { version = "1.0.86" }
quote = "1.0.36" # proc macros
syn = { version = "2.0.71", features = ["full"] } # proc macros

# Unit of measure to be consistent across the project
uom = { version = "0.36.0", features = ["serde"] }

[profile.release]
lto = true
