[workspace]

members = [
    "core/cu29",
    "core/cu29_clock",
    "core/cu29_derive",
    "core/cu29_export",
    "core/cu29_helpers",
    "core/cu29_intern_strs",
    "core/cu29_log",
    "core/cu29_log_derive",
    "core/cu29_log_runtime",
    "core/cu29_runtime",
    "core/cu29_soa_derive",
    "core/cu29_traits",
    "core/cu29_unifiedlog",
    "components/common/cu_msp_lib",
    "components/monitors/cu_consolemon",
    "components/payloads/cu_ros_payloads",
    "components/payloads/cu_sensor_payloads",
    "components/payloads/cu_spatial_payloads",
    "components/sinks/cu_iceoryx2_sink",
    "components/sinks/cu_msp_sink",
    "components/sinks/cu_rp_gpio",
    "components/sinks/cu_rp_sn754410",
    "components/sinks/cu_lewansoul",
    "components/sinks/cu_zenoh_sink",
    "components/sinks/cu_zenoh_ros_sink",
    "components/sources/cu_ads7883",
    "components/sources/cu_gstreamer",
    "components/sources/cu_hesai",
    "components/sources/cu_livox",
    "components/sources/cu_msp_src",
    "components/sources/cu_iceoryx2_src",
    "components/sources/cu_v4l",
    "components/sources/cu_vlp16",
    "components/sources/cu_wt901",
    "components/sources/cu_rp_encoder",
    "components/tasks/cu_aligner",
    "components/tasks/cu_apriltag",
    "components/tasks/cu_dynthreshold",
    "components/tasks/cu_pid",
    "components/tasks/cu_ratelimit",
    "components/testing/cu_udp_inject",
    "examples/cu_caterpillar",
    "examples/cu_config_gen",
    "examples/cu_config_variation",
    "examples/cu_iceoryx2",
    "examples/cu_logging_size",
    "examples/cu_monitoring",
    "examples/cu_missions",
    "examples/cu_multisources",
    "examples/cu_pointclouds",
    "examples/cu_rp_balancebot",
    "examples/cu_standalone_structlog",
    "examples/cu_zenoh",
    "examples/cu_zenoh_ros",
]

# put only the core crates here that are not platform specific
default-members = [
    "core/cu29",
    "core/cu29_clock",
    "core/cu29_derive",
    "core/cu29_export",
    "core/cu29_helpers",
    "core/cu29_intern_strs",
    "core/cu29_log",
    "core/cu29_log_derive",
    "core/cu29_log_runtime",
    "core/cu29_runtime",
    "core/cu29_soa_derive",
    "core/cu29_traits",
    "core/cu29_unifiedlog",
]

resolver = "2"

[workspace.package]
version = "0.8.0"
authors = ["Guillaume Binet <gbin@gootz.net>"]
edition = "2021"
license = "Apache-2.0"
keywords = ["robotics", "middleware", "copper", "real-time"]
categories = ["science::robotics"]
homepage = "https://github.com/copper-project"
repository = "https://github.com/copper-project/copper-rs"

[workspace.metadata.workspaces]
no_individual_tags = true

[workspace.dependencies]

# Copper Core
cu29 = { path = "core/cu29", version = "0.8.0" }
cu29-clock = { path = "core/cu29_clock", version = "0.8.0" }
cu29-derive = { path = "core/cu29_derive", version = "0.8.0" }
cu29-export = { path = "core/cu29_export", version = "0.8.0" }
cu29-helpers = { path = "core/cu29_helpers", version = "0.8.0" }
cu29-intern-strs = { path = "core/cu29_intern_strs", version = "0.8.0" }
cu29-log = { path = "core/cu29_log", version = "0.8.0" }
cu29-log-derive = { path = "core/cu29_log_derive", version = "0.8.0" }
cu29-log-runtime = { path = "core/cu29_log_runtime", version = "0.8.0" }
cu29-runtime = { path = "core/cu29_runtime", version = "0.8.0" }
cu29-soa-derive = { path = "core/cu29_soa_derive", version = "0.8.0" }
cu29-traits = { path = "core/cu29_traits", version = "0.8.0" }
cu29-unifiedlog = { path = "core/cu29_unifiedlog", version = "0.8.0" }
cu29-value = { path = "core/cu29_value", version = "0.8.0" }

# Payload definitions
cu-sensor-payloads = { path = "components/payloads/cu_sensor_payloads", version = "0.8.0" }
cu-ros-payloads = { path = "components/payloads/cu_ros_payloads", version = "0.8.0" }

# External serialization
bincode = { version = "2.0.1", features = ["derive"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_derive = { version = "1.0.219", features = ["default"] }

# External CLI
clap = { version = "4.5.38", features = ["derive"] }

# External proc macros
proc-macro2 = { version = "1.0.95" }
quote = "1.0.40"                                  # proc macros
syn = { version = "2.0.101", features = ["full"] } # proc macros

# Unit of measure to be consistent across the project
uom = { version = "0.37.0", features = ["serde"] }

# Compact strings support
compact_str = { version = "0.9.0", features = ["serde"] }

# The derive patterns happens a lot across the codebase, this is a helper for that.
derive_more = { version = "2.0.1", features = ["full"] }

# used across testing
tempfile = "3.20.0"

# rerun
rerun = { version = "0.23.2", default-features = false, features = ["sdk", "server", "log"] }

# smallvec to avoid heap allocations
smallvec = { version = "1.15.0", features = ["serde"] }
