[package]
name = "cu-spatial-payloads"
description = "Spatial payloads for the Copper."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
bincode = { workspace = true }
uom = { workspace = true }
serde = { workspace = true }
rerun = { workspace = true, optional = true }

faer = { version = "0.24.0", optional = true }
nalgebra = { version = "0.34.0", optional = true }
glam = { version = "0.31", optional = true }

[features]
default = ["glam"]
faer = ["dep:faer"]
nalgebra = ["dep:nalgebra"]
glam = ["dep:glam"]
rerun = ["dep:rerun"]
