[package]
name = "cu-spatial-payloads"
description = "Spatial payloads for the Copper."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
bincode = { workspace = true }
cu29 = { path = "../../../core/cu29", version = "0.13.0", default-features = false, features = [
  "units",
] }
serde = { workspace = true }
rerun = { workspace = true, optional = true }

faer = { version = "0.24.0", optional = true, default-features = false }
nalgebra = { version = "0.34.0", optional = true, default-features = false }
glam = { version = "0.32", optional = true }

[features]
default = ["glam"]
faer = ["dep:faer"]
nalgebra = ["dep:nalgebra"]
glam = ["dep:glam"]
rerun = ["dep:rerun"]
