[package]
name = "cu-spatial-payloads"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
bincode = { workspace = true }
uom = { workspace = true }

faer = { version = "0.21.4", optional = true }
nalgebra = { version = "0.33.2", optional = true }
glam = { version = "0.30.0", optional = true }
[features]
default = []
faer = ["dep:faer"]
nalgebra = ["dep:nalgebra"]
glam = ["dep:glam"]