[package]
name = "cu-v4l"
description = "This is a source task that captures video from a V4L2 device."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu-sensor-payloads = { workspace = true }
libc = { workspace = true }
nix = { workspace = true, default-features = false, features = ["time"] }

[target.'cfg(target_os = "linux")'.dependencies]
v4l = "0.14.0"

[dev-dependencies]
rerun = { workspace = true }
simplelog = { workspace = true }
