(
    tasks: [],
    cnx: [],
    monitor: (
        type: "cu_consolemon::CuConsoleMon",
    ),
    logging: (
        file: "robot.copper",
        level: "debug",
    ),
    includes: [
        (
            path: "base.ron",
            params: {},
        ),
        (
            path: "motors.ron",
            params: {
                "id": "left",
                "pin": 4,
                "direction": "forward",
            },
        ),
        (
            path: "motors.ron",
            params: {
                "id": "right",
                "pin": 5,
                "direction": "reverse",
            },
        ),
    ],
)