(
    missions: [ (id: "A"),
                (id: "B"),
              ],
    tasks: [
        (
            id: "src",
            type: "tasks::ExampleSrc",
        ),
        (
            id: "taskA",
            type: "tasks::ExampleTaskA",
            missions: ["A"],
        ),
        (
            id: "taskB",
            type: "tasks::ExampleTaskB",
            missions: ["B"],
        ),
        (
            id: "sink",
            type: "tasks::ExampleSink",
        ),
     ],
    cnx: [
        (src: "src", dst: "taskA", msg: "i32", missions: ["A"]),
        (src: "src", dst: "taskB", msg: "i32", missions: ["B"]),
        (src: "taskA", dst: "sink", msg: "i32", missions: ["A"]),
        (src: "taskB", dst: "sink", msg: "i32", missions: ["B"]),
    ],
)
