(
    tasks: [
        (
            id: "src_multi_{{index}}",
            type: "tasks::ExampleMultiSrc",
            config: {"label": "Multi src"},
        ),
        (
            id: "multi_input_{{index}}",
            type: "tasks::MultiInputTask",
            config: {"label": "Multi input"},
        ),
        (
            id: "sink_{{index}}",
            type: "tasks::ExampleSink",
            config: {"label": "Sink"},
        ),
    ],
    cnx: [
        (
            src: "src_multi_{{index}}",
            dst: "multi_input_{{index}}",
            msg: "i32",
        ),
        (
            src: "src_multi_{{index}}",
            dst: "multi_input_{{index}}",
            msg: "u32",
        ),
        (
            src: "multi_input_{{index}}",
            dst: "sink_{{index}}",
            msg: "i32",
        ),
    ],
)