(
    tasks: [
        (
            id: "controller",
            type: "tasks::ControllerTask",
        ),
    ],
    bridges: [
        (
            id: "zenoh",
            type: "bridges::DemoZenohBridge",
            channels: [
                Rx(
                    id: "plan",
                    route: "distributed_resim/plan",
                ),
                Tx(
                    id: "feedback",
                    route: "distributed_resim/feedback",
                ),
            ],
        ),
    ],
    cnx: [
        (
            src: "zenoh/plan",
            dst: "controller",
            msg: "messages::Plan",
        ),
        (
            src: "controller",
            dst: "zenoh/feedback",
            msg: "messages::Feedback",
        ),
    ],
    logging: (
        keyframe_interval: 4,
        slab_size_mib: 32,
        section_size_mib: 8,
    ),
)