[env]
DEFMT_LOG = "debug"

[build]
target = "thumbv8m.main-none-eabihf"

[target.thumbv8m.main-none-eabihf]
rustflags = [
    "-C", "link-arg=--nmagic",
    "-C", "link-arg=-Tlink.x",
    "-C", "link-arg=-Tdefmt.x",
    "-C", "target-cpu=cortex-m33",
]

# With no probe you can use the bootsel mode over the USB port
# runner = "picotool load -u -v -x -t elf"

# With a cmsis-dap probe you can use probe-rs
runner = "probe-rs run --chip RP235x --protocol swd"

# The RiskV cores in the rp2350 do not have hardware floating point.
[target.riscv32imac-unknown-none-elf]
rustflags = [
    "-C", "link-arg=--nmagic",
    "-C", "link-arg=-Trp235x_riscv.x", # Specific RiskV linker script
    "-C", "link-arg=-Tdefmt.x",
]

# With no probe you can use the bootsel mode over the USB port
# runner = "picotool load -u -v -x -t elf"

# With a cmsis-dap probe you can use probe-rs
runner = "probe-rs run --chip RP235x --protocol swd"

