[package]
name = "cu-monitoring"
description = "This is an example for the Copper project to show how to implemwnt a custom monitor."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu29-helpers = { workspace = true }
tempfile = { workspace = true }
