[package]
name = "cu29-clock"
description = "Copper Robot Clock implementation. It is a monotonic high precision clock for real time applications. It has a mock feature for testing time dependent behaviors. It is part of the Copper project but can be used independently."
documentation = "https://docs.rs/cu29-clock"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
quanta = "0.12.5"
bincode = { workspace = true }
serde = { workspace = true }

[dev-dependencies]
approx = "0.5.1"
