(
    tasks: [
        (
            id: "mpu",
            type: "registry::RpMpu9250Source",
            config: (
                spi_slot: 0,
                cs_slot: 0,
                delay_slot: 0,
                gyro_cal_ms: 3000,
                gyro_sample_delay_ms: 10,
            ),
        ),
        (id: "ahrs", type: "cu_ahrs::CuAhrs"),
        (id: "sink", type: "tasks::RpySink"),
    ],
    cnx: [
        (src: "mpu", dst: "ahrs", msg: "cu_sensor_payloads::ImuPayload"),
        (src: "ahrs", dst: "sink", msg: "cu_ahrs::AhrsPose"),
    ],
)
