[package]
name = "cu-zenoh-src"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Copper source task for Zenoh. It allows Copper to receive messages from Zenoh."

[dependencies]
zenoh = { version = "1.7" }
cu29 = { workspace = true }
