(
    tasks: [
        // (
        //     id: "lateral_pid",
        //     type: "tasks::BalPID",
        //     config: {
        //         "kp": 0.015,
        //         "kd": 0.01,
        //         "ki": 0.0,
        //         "setpoint": 3072.0, 
        //         "cutoff": 170.0, 
        //     },
        // ),

        // (
        //     id: "pitch_pid",
        //     type: "tasks::PosPID",
        //     config: {
        //         "kp": 0.0005, 
        //         "kd": 0.5,
        //         "ki": 0.0,
        //         "setpoint": 0.0,
        //         "cutoff": 1000.0, 
        //         "sampling_ms": 100,
        //     },
        // ),

        // (
        //     id: "merge_pids",
        //     type: "tasks::PIDMerger",
        // ),

     ],

    bridges: [
        (  id: "crsf",
           type: "cu_crsf::CrsfBridge<SerialPort, SerialPortError>",
           channels: [
                Rx ( id: "rc_rx" ),  // receiving RC Channels
                Tx ( id: "lq_tx" ),  // Sending LineQuality back
            ],
        ),
        (
            id: "bdshot",
            type: "cu_bdshot::RpBdshotBridge",
            channels: [
                Tx ( id: "esc0_tx" ),
                Tx ( id: "esc1_tx" ),
                Tx ( id: "esc2_tx" ),
                Tx ( id: "esc3_tx" ),
                Rx ( id: "esc0_rx" ),
                Rx ( id: "esc1_rx" ),
                Rx ( id: "esc2_rx" ),
                Rx ( id: "esc3_rx" ),
            ],
        ),
    ],

    cnx: [
    // TODO
    ],
    monitor: (
          // type: "cu_consolemon::CuConsoleMon", TODO: make a simple embedded monitor
    )
)

