[package]
name = "cu-wt901"
description = "This is a driver for the WT901 IMU."

version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu29-log-derive = { workspace = true }
cu29-traits = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
cu29-traits = { workspace = true }
cu29-helpers = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
embedded-hal = "1"
cu-linux-resources = { workspace = true }

[build-dependencies]
cfg_aliases = { workspace = true }

[features]
default = []
mock = []
