[package]
name = "cu-aligner"
description = "A Copper component to align messages in time."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu29-clock = { workspace = true }
circular-buffer = { workspace = true }
paste = { workspace = true }
