[package]
name = "cu-aligner"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu29-clock = { workspace = true }
bincode = { workspace = true }
circular-buffer = "0.1.9"
paste = "1.0.15"
