(
    graph: (
        nodes: [
            (
                instance_name: "camera",
                type_name: "v4lsrc::Video4LinuxSource",
                base_period_ns: 1000000000,
                instance_config: {
                    "dev": "/dev/video0",
                },
            ),
            (
                instance_name: "logger",
                type_name: "simplelogger::SimpleLogger",
                base_period_ns: 60000000000,
                instance_config: {
                    "path": "/tmp/stuff.cu",
                },
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [
            (0, 1, "v4lsrc::ImageMsg"),
        ],
    ),
)
