(
    tasks: [
        (
            id: "camera",
            type: "v4lsrc::Video4LinuxSource",
            config: {
                "dev": "/dev/video0",
            },
        ),
        (
            id: "logger",
            type: "simplelogger::SimpleLogger",
            config: {
                "path": "/tmp/stuff.cu",
            },
        ),
    ],
    cnx: [
        (src: "camera",     dst: "logger", msg: "v4lsrc::ImageMsg"),
    ],
)
