[package]
name = "cu-rp-gpio"
description = "This is a simple driver example for the Raspberry Pi GPIOs for Copper."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
cu-linux-resources = { workspace = true }

[build-dependencies]
cfg_aliases = { workspace = true }

[features]
default = []
mock = []
