[package]
name = "cu-rp-gpio"
description = "This is a simple driver example for the Raspberry Pi GPIOs for Copper."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.cargo-machete]
ignored = ["cu29-log", "cu29-log-runtime"]  # proc macro

[dependencies]
cu29 = { workspace = true }
cu29-log = { workspace = true }
cu29-log-runtime = { workspace = true } # needed
bincode = { workspace = true }
serde = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
rppal = { version = "0.22.1", features = ["hal"] }

[build-dependencies]
cfg_aliases = "0.2.1"

[features]
default = []
mock = []
