(
    tasks: [
        (id: "thr0", type: "tasks::ThrottleSource0"),
        (id: "thr1", type: "tasks::ThrottleSource1"),
        (id: "thr2", type: "tasks::ThrottleSource2"),
        (id: "thr3", type: "tasks::ThrottleSource3"),
        (id: "tele0", type: "tasks::TelemetrySink0"),
        (id: "tele1", type: "tasks::TelemetrySink1"),
        (id: "tele2", type: "tasks::TelemetrySink2"),
        (id: "tele3", type: "tasks::TelemetrySink3"),
    ],
    bridges: [
        (
            id: "bdshot",
            type: "cu_bdshot::RpBdshotBridge",
            channels: [
                Tx ( id: "esc0", route: "esc0" ),
                Tx ( id: "esc1", route: "esc1" ),
                Tx ( id: "esc2", route: "esc2" ),
                Tx ( id: "esc3", route: "esc3" ),
                Rx ( id: "esc0_rx", route: "esc0_rx" ),
                Rx ( id: "esc1_rx", route: "esc1_rx" ),
                Rx ( id: "esc2_rx", route: "esc2_rx" ),
                Rx ( id: "esc3_rx", route: "esc3_rx" ),
            ],
        ),
    ],
    cnx: [
        (src: "thr0", dst: "bdshot/esc0", msg: "cu_bdshot::EscCommand"),
        (src: "thr1", dst: "bdshot/esc1", msg: "cu_bdshot::EscCommand"),
        (src: "thr2", dst: "bdshot/esc2", msg: "cu_bdshot::EscCommand"),
        (src: "thr3", dst: "bdshot/esc3", msg: "cu_bdshot::EscCommand"),
        (src: "bdshot/esc0_rx", dst: "tele0", msg: "cu_bdshot::EscTelemetry"),
        (src: "bdshot/esc1_rx", dst: "tele1", msg: "cu_bdshot::EscTelemetry"),
        (src: "bdshot/esc2_rx", dst: "tele2", msg: "cu_bdshot::EscTelemetry"),
        (src: "bdshot/esc3_rx", dst: "tele3", msg: "cu_bdshot::EscTelemetry"),
    ],
)
