[package]
name = "cu-rp2350-skeleton"
version = "0.1.0"
edition = "2024"
description = "A minimal example of using Copper on a RP2350 microcontroller"

[dependencies]
cu29 = { path = "../../core/cu29", default-features = false, features = ["defmt", "log-level-debug"] } # pick it up directly to build it no-std
cu29-log = { path = "../../core/cu29_log", default-features = false, features = ["defmt"] } # needed for the logger backend
bincode = { version = "2.0", default-features = false, features = ["derive", "alloc"] }
cortex-m-rt = "0.7"
defmt-rtt = "1.0"  # RTT logging backend for defmt (ie through a probe)
buddy_system_allocator = "0.11"
embedded-hal = "1.0"
panic-probe = { version = "1.0", features = ["defmt", "print-defmt"] }
rp235x-hal = { version = "0.3", features = ["rt", "critical-section-impl"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
spin = { version = "0.10" }
embedded-sdmmc = { version = "0.9", features = [
    # "defmt-log",
], default-features = false }

[[bin]]
name = "cu-blinky"
path = "src/main.rs"
test = false
doctest = false
bench = false

[workspace]

# A safe development profile for remote debugging.
[profile.dev]
opt-level = 0
debug = 2
debug-assertions = true
overflow-checks = true
