(
    tasks: [
        (
            id: "src",
            type: "tasks::BooleanSource",
        ),
        (
            id: "dst",
            type: "tasks::LEDSink",
        ),
     ],
    cnx: [
        (src: "src",  dst: "dst",   msg: "bool"),
    ],
    logging: ( keyframe_interval: 10000, 
               section_size_mib:  0,  // 1 MiB sections oO
    ),
)
