(
    tasks: [
        (id: "src", type: "tasks::Source"),
        (id: "loopback", type: "tasks::Loopback"),
    ],
    cnx: [
        (src: "src", dst: "loopback", msg: "i32"),
        (src: "loopback", dst: "loopback", msg: "i32"),
    ],
)
