(
    tasks: [
        (id: "src", type: "Source"),
        (id: "work", type: "Work"),
        (id: "sink", type: "Sink"),
    ],
    cnx: [
        (
            src: "src",
            dst: "work",
            msg: "u64",
        ),
        (
            src: "work",
            dst: "sink",
            msg: "u64",
        ),
    ],
    logging: (slab_size_mib: 16),
)