[package]
name = "cu-apriltag"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
description = "AprilTag detection and pose for Copper"

[dependencies]
apriltag = "0.4.0"
apriltag-sys = "0.3.0"
bincode = { workspace = true }
cu29 = { workspace = true }
serde = { workspace = true }
arrayvec = "0.7.6"
cu-spatial-payloads = { path = "../../payloads/cu_spatial_payloads" }
cu-sensor-payloads = { path = "../../payloads/cu_sensor_payloads" }

[dev-dependencies]
image = "0.25.5"
anyhow = "1.0.97"
