[package]
name = "cu-apriltag"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
description = "AprilTag detection and pose for Copper"

[dependencies]
bincode = { workspace = true }
cu29 = { workspace = true }
serde = { workspace = true }
cu-spatial-payloads = { path = "../../payloads/cu_spatial_payloads", version = "0.13.0" }
cu-sensor-payloads = { path = "../../payloads/cu_sensor_payloads", version = "0.13.0" }

[target.'cfg(unix)'.dependencies]
apriltag = { version = "0.4.0" }
apriltag-sys = { version = "0.3.0" }

[dev-dependencies]
image = { workspace = true, default-features = false, features = ["png"] }
anyhow = { workspace = true }
