[package]
name = "cu-apriltag"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
description = "AprilTag detection and pose for Copper"

[dependencies]
bincode = { workspace = true }
cu29 = { workspace = true }
serde = { workspace = true }
arrayvec = "0.7.6"
cu-spatial-payloads = { path = "../../payloads/cu_spatial_payloads", version = "0.11.0" }
cu-sensor-payloads = { path = "../../payloads/cu_sensor_payloads", version = "0.11.0" }

[target.'cfg(unix)'.dependencies]
apriltag = { git = "https://github.com/jerry73204/apriltag-rust.git", rev = "9e7ce5a0dd9f2d178225a436b05944bf01b17438" }
apriltag-sys = { git = "https://github.com/jerry73204/apriltag-rust.git", rev = "9e7ce5a0dd9f2d178225a436b05944bf01b17438" }

[dev-dependencies]
image = "0.25.6"
anyhow = "1.0.98"
