[package]
name = "cu-gnss-payloads"
readme = "README.md"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Standardized GNSS payload definitions for Copper"

[dependencies]
bincode = { workspace = true }
cu29 = { path = "../../../core/cu29", version = "0.13.0", default-features = false, features = [
  "units",
] }
serde = { workspace = true }

[features]
default = ["std"]
std = ["cu29/std"]
textlogs = ["cu29/textlogs"]
reflect = ["cu29/reflect"]
