(
    tasks: [
        (id: "source", type: "Unused"),
    ],
    cnx: [
        (
            src: "source",
            dst: "__nc__",
            msg: "(bool, cu29::pool::CuHandle<Vec<u8>>)",
        ),
    ],
)