(
    resources: [
        (
            id: "wrapped",
            provider: "Wrapped",
            resources: {
                "value": "base.value",
            },
        ),
        (id: "base", provider: "Base"),
    ],
    tasks: [
        (id: "source", type: "Source"),
    ],
    cnx: [
        (
            src: "source",
            dst: "__nc__",
            msg: "u32",
        ),
    ],
)