[package]
name = "cu-mpu9250"
description = "Copper source driver for the MPU9250 IMU."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
bincode = { workspace = true }
cu29 = { path = "../../../core/cu29", version = "0.11.0", default-features = false }
cu29-traits = { path = "../../../core/cu29_traits", version = "0.11.0", default-features = false }
cu-sensor-payloads = { path = "../../payloads/cu_sensor_payloads", version = "0.11.0", default-features = false }
mpu9250 = { version = "0.25.0", default-features = false }
serde = { workspace = true }
uom = { version = "0.37", default-features = false, features = ["serde", "f32", "si", "autoconvert"] }
cortex-m = { version = "0.7", optional = true }
cortex-m-rt = { version = "0.7", optional = true }
embedded-hal = { version = "1.0.0", optional = true }
embedded-hal-02 = { package = "embedded-hal", version = "0.2.7", optional = true }
rp235x-hal = { version = "0.3", features = ["rt", "critical-section-impl", "defmt"], optional = true }
linux-embedded-hal = { version = "0.4.0", optional = true }
defmt = { version = "0.3", optional = true }

[features]
default = []
std = ["cu29/std", "cu29-traits/std", "cu-sensor-payloads/std", "serde/std"]
embedded-hal = ["dep:embedded-hal", "dep:embedded-hal-02"]
rp235x-hal = [
    "embedded-hal",
    "dep:cortex-m",
    "dep:cortex-m-rt",
    "dep:rp235x-hal",
    "dep:defmt",
]
linux-embedded-hal = [
    "std",
    "embedded-hal",
    "dep:linux-embedded-hal",
]
mock = []
