[package]
name = "cu-mpu9250"
description = "Copper source driver for the MPU9250 IMU."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
bincode = { workspace = true }
cu29 = { path = "../../../core/cu29", version = "0.11.0", default-features = false }
cu29-log = { path = "../../../core/cu29_log", version = "0.11.0", default-features = false }
cu29-log-derive = { path = "../../../core/cu29_log_derive", version = "0.11.0", default-features = false }
cu29-log-runtime = { path = "../../../core/cu29_log_runtime", version = "0.11.0", default-features = false }
cu29-traits = { path = "../../../core/cu29_traits", version = "0.11.0", default-features = false }
cu-sensor-payloads = { path = "../../payloads/cu_sensor_payloads", version = "0.11.0", default-features = false }
mpu9250 = { version = "0.25.0", default-features = false, features = ["i2c"] }
serde = { workspace = true }
uom = { version = "0.37", default-features = false, features = ["serde", "f32", "si", "autoconvert"] }
cu29-helpers = { path = "../../../core/cu29_helpers", version = "0.11.0", optional = true }
linux-embedded-hal = { version = "0.4", optional = true }

[build-dependencies]
cfg_aliases = "0.2.1"

[[bin]]
name = "logger"
path = "src/bin/logger.rs"
required-features = ["std", "linux-embedded"]

[features]
default = ["std"]
std = [
    "cu29/std",
    "cu29-log/std",
    "cu29-log-runtime/std",
    "cu29-traits/std",
    "cu-sensor-payloads/std",
    "dep:cu29-helpers",
]
linux-embedded = ["std", "dep:linux-embedded-hal"]
mock = []
