(
    tasks: [
        (
            id: "src",
            type: "tasks::FortyKSrc",
        ),
        (
            id: "dst",
            type: "tasks::FortyKSink",
        ),
    ],
    cnx: [
        (
            src: "src",
            dst: "dst",
            msg: "crate::tasks::DoraPayload",
        ),
    ],
    logging: (
        keyframe_interval: 10000,
        section_size_mib: 1,
    ),
)