(
    tasks: [
        (
            id: "cam",
            type: "FrameSource",
            kind: source,
            run_in_sim: true,
            logging: (
                handle_content: touched_only,
            ),
        ),
        (
            id: "sink",
            type: "FrameSink",
            kind: sink,
            run_in_sim: true,
        ),
    ],
    cnx: [
        (
            src: "cam",
            dst: "sink",
            msg: "i32",
        ),
    ],
)
