(
    tasks: [
        (
            id: "src",
            type: "Source",
            run_in_sim: true,
        ),
        (
            id: "proc",
            type: "Proc",
            run_in_sim: true,
        ),
        (
            id: "sink",
            type: "Sink",
            run_in_sim: true,
        ),
    ],
    cnx: [
        (
            src: "src",
            dst: "proc",
            msg: "i32",
        ),
        (
            src: "proc",
            dst: "sink",
            msg: "i32",
        ),
    ],
)
