(
    missions: [(id: "A"), (id: "B")],
    tasks: [(id: "src", type: "tasks::Source")],
    cnx: [
        (
            src: "src",
            dst: "__nc__",
            msg: "u32",
            missions: ["A"],
        ),
        (
            src: "src",
            dst: "__nc__",
            msg: "u64",
            missions: ["B"],
        ),
    ],
)