(
    tasks: [
        (
            id: "src",
            type: "FlippingSource",
        ),
        (
            id: "gpio",
            type: "FlippingSourceTwo",
        ),
    ],
     cnx: [
        (src: "src",  dst: "gpio",   msg: "MyMsg"),
    ],
)