(
    resources: [
        (
            id: "linux",
            provider: "TestBundle",
        ),
    ],
    tasks: [
        (
            id: "src",
            type: "NoopSource",
        ),
        (
            id: "sink",
            type: "UsesI2cSink",
            resources: {
                "bus": "linux.i2c1",
            },
        ),
    ],
    cnx: [
        (
            src: "src",
            dst: "sink",
            msg: "u32",
        ),
    ],
)
