(
    tasks: [
        (
            id: "src",
            type: "StatelessSource",
            run_in_sim: true,
        ),
        (
            id: "transform",
            type: "StatelessTransform",
            kind: stateless_task,
        ),
    ],
    cnx: [
        (
            src: "src",
            dst: "transform",
            msg: "u32",
        ),
    ],
)