(
    tasks: [
        (
            id: "src",
            type: "cu_ads7883_new::ADS7883",
        ),
        (
            id: "tester",
            type: "cu_ads7883_new::test_support::ADS78883TestSink",
        ),
     ],
    cnx: [
        (src: "src",  dst: "tester",   msg: "cu_ads7883_new::ADSReadingPayload"),
    ],
)
