[package]
name = "{{project-name}}"
version = "0.1.0"
edition = "2021"
default-run = "{{project-name|kebab_case}}"

# The main executable of your application
[[bin]]
name = "{{project-name|kebab_case}}"
path = "src/main.rs"

# A custom made log reader application for your application.
[[bin]]
name = "{{project-name|kebab_case}}-logreader"
path = "src/logreader.rs"

[dependencies]
# FIXME: This is to be able to test pre-release.
cu29 = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-traits = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-derive = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-helpers = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-log = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-log-runtime = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-log-derive = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-unifiedlog = { git = "https://github.com/copper-project/copper-rs.git" }
cu29-export = { git = "https://github.com/copper-project/copper-rs.git" }
bincode = { version = "2.0.0-rc.3", features = ["derive"] }
