(
    tasks: [
        (
            id: "vitfly",
            type: "tasks::NoopVitFlyTask",
            kind: task,
            logging: (enabled: false),
        ),
    ],
    cnx: [
        (
            src: "zed",
            dst: "vitfly",
            msg: "cu_zed::ZedStereoImages",
        ),
        (
            src: "zed",
            dst: "vitfly",
            msg: "cu_zed::ZedDepthMap<Vec<f32>>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_zed::ZedConfidenceMap<Vec<f32>>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu29::prelude::CuLatchedStateUpdate<cu_zed::ZedCalibrationBundle>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu29::prelude::CuLatchedStateUpdate<cu_zed::ZedRigTransforms>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_sensor_payloads::ImuPayload",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_sensor_payloads::MagnetometerPayload",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_sensor_payloads::BarometerPayload",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_zed::ZedFrameMeta",
        ),
        (
            src: "vitfly",
            dst: "__nc__",
            msg: "()",
        ),
    ],
    logging: (
        enable_task_logging: false,
        slab_size_mib: 64,
        section_size_mib: 8,
    ),
)