(
    tasks: [
        (
            id: "zed",
            type: "cu_zed::Zed",
            run_in_sim: false,
            logging: (enabled: false),
        ),
        (
            id: "vitfly_context",
            type: "tasks::VitFlyContextSource",
            run_in_sim: false,
            logging: (enabled: false),
        ),
        (
            id: "vitfly",
            type: "cu_vitfly::VitFlyTask",
            config: {
                "max_depth_m": 12.5,
                "invalid_depth": 0.8,
            },
            logging: (enabled: true),
        ),
        (
            id: "vitfly_listener",
            type: "tasks::VitFlySimListener",
            logging: (enabled: false),
        ),
    ],
    cnx: [
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_zed::ZedStereoImages",
        ),
        (
            src: "zed",
            dst: "vitfly",
            msg: "cu_zed::ZedDepthMap<Vec<f32>>",
        ),
        (
            src: "vitfly_context",
            dst: "vitfly",
            msg: "cu_ahrs::AhrsPose",
        ),
        (
            src: "vitfly_context",
            dst: "vitfly",
            msg: "cu29::units::si::f32::Velocity",
        ),
        (
            src: "vitfly",
            dst: "vitfly_listener",
            msg: "cu_vitfly::VitFlyVelocity",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_zed::ZedConfidenceMap<Vec<f32>>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu29::prelude::CuLatchedStateUpdate<cu_zed::ZedCalibrationBundle>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu29::prelude::CuLatchedStateUpdate<cu_zed::ZedRigTransforms>",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_sensor_payloads::ImuPayload",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_sensor_payloads::MagnetometerPayload",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_sensor_payloads::BarometerPayload",
        ),
        (
            src: "zed",
            dst: "__nc__",
            msg: "cu_zed::ZedFrameMeta",
        ),
    ],
    logging: (
        enable_task_logging: true,
        slab_size_mib: 64,
        section_size_mib: 8,
    ),
    runtime: (rate_target_hz: 30),
)