(
    subsystems: [
        (
            id: "compute",
            config: "compute_bevymon_config.ron",
        ),
        (
            id: "mcu",
            config: "mcu_config.ron",
        ),
    ],
    interconnects: [],
)
