(
    tasks: [
        (
            id: "src",
            type: "cu_caterpillar::tasks::CaterpillarSource",
        ),
        (
            id: "dst",
            type: "cu_rp_gpio::RPGpio",
            config: {
                "pin": 4,
            },
        ),
     ],
    cnx: [
        (src: "src",  dst: "dst",   msg: "cu_rp_gpio::RPGpioPayload"),
    ],
)
