[package]
name = "cu-iceoryx2-src"
description = "Copper source task for Iceoryx2. I allows Copper to receive messages from Iceoryx2."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
iceoryx2 = { version = "0.6.1" }
cu29 = { workspace = true }
bincode = { workspace = true }
