[package]
name = "cu-rp-sn754410-new"
description = "Rust library for controlling the SN754410 motor driver on the Raspberry Pi for Copper"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }
tempfile = { workspace = true }

[dev-dependencies]
cu29-helpers = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
rppal = { version = "0.22.1", features = ["hal"] }

[build-dependencies]
cfg_aliases = "0.2.1"

[features]
default = []
mock = []
