(
    tasks: [
        (
            id: "src",
            type: "cu_iceoryx2::MyIceoryxSrc",
            config: {
                "service": "Flippy",
            },
        ),
        (
            id: "task",
            type: "cu_caterpillar::tasks::CaterpillarTask",
        ),
        (
            id: "gpio-0",
            type: "cu_rp_gpio::RPGpio",
            config: {
                "pin": 4,
            },
        ),
     ],
    cnx: [
        (src: "src",  dst: "task",   msg: "cu_rp_gpio::RPGpioPayload"),
        (src: "task",  dst: "gpio-0",   msg: "cu_rp_gpio::RPGpioPayload"),
    ],
    monitor: (
                  type: "cu_consolemon::CuConsoleMon",
             )
)
