[package]
name = "cu-rp-balancebot"
description = "This is a full robot example for the Copper project. It runs on the Raspberry Pi with the balance bot hat to balance a rod."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
default-run = "balancebot-sim"

publish = false

[package.metadata.cargo-shear]
ignored = ["serde"]

[dependencies]
# Core dependencies
cu29 = { workspace = true }
cu29-helpers = { workspace = true }
serde = { workspace = true }
cu-ads7883-new = { path = "../../components/sources/cu_ads7883", version = "0.13.0" }
cu-rp-sn754410-new = { path = "../../components/sinks/cu_rp_sn754410", version = "0.13.0" }
cu-rp-encoder = { path = "../../components/sources/cu_rp_encoder", version = "0.13.0" }
cu-consolemon = { path = "../../components/monitors/cu_consolemon", version = "0.13.0" }    # needed
cu-pid = { path = "../../components/tasks/cu_pid", version = "0.13.0" }

# Log reader depencies
cu29-export = { workspace = true, optional = true, features = [
  "python",
  "mcap",
] }

# Sim dependencies
bevy = { workspace = true, default-features = false, features = [
  "x11",
  "wayland",
  "default_font",
  "bevy_render",
  "bevy_window",
  "bevy_core_pipeline",
  "bevy_pbr",
  "bevy_scene",
  "bevy_sprite",
  "bevy_gltf",
  "gltf_animation",
  "bevy_picking",
  "mesh_picking",
  "tonemapping_luts",
  "bevy_ui",
  "bevy_ui_render",
  "ktx2",
  "jpeg",
  "png",
  "zstd_rust",
  "trace",
  "reflect_auto_register",
], optional = true }
avian3d = { workspace = true, default-features = false, features = [
  "bevy_scene",
  "collider-from-mesh",
  "debug-plugin",
  "parallel",
  "f32",
  "3d",
  "parry-f32",
  "xpbd_joints",
], optional = true }
cached-path = { workspace = true, features = ["progress-bar"], optional = true }
bevy_anti_alias = { version = "0.18.0", optional = true }

[features]
default = ["logreader", "sim"]
# generates an executable to read the logs
logreader = ["dep:cu29-export"]
# dependencies to build to matrix for copper
sim = [
  "dep:bevy",
  "dep:bevy_anti_alias",
  "dep:avian3d",
  "dep:cached-path",
  "dep:cu29-export",
] # required for exporting simulation data

[[bin]]
name = "balancebot"
path = "src/main.rs"

[[bin]]
name = "balancebot-logreader"
path = "src/logreader.rs"
required-features = ["logreader"]

[[bin]]
name = "balancebot-sim"
path = "src/sim.rs"
required-features = ["sim"]

[[bin]]
name = "balancebot-resim"
path = "src/resim.rs"
required-features = ["sim"]
