[package]
name = "cu-rp-balancebot"
description = "This is a full robot example for the Copper project. It runs on the Raspberry Pi with the balance bot hat to balance a rod."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
default-run = "balancebot-sim"

[package.metadata.cargo-machete]
ignored = ["cu-consolemon", "cu29-log", "cu29-log-runtime", "cu29-unifiedlog", "copper-traits"]  # proc macro and console

[dependencies]
# Core dependencies
cu29 = { workspace = true, features = ["macro_debug"]}
cu29-helpers = { workspace = true }
cu-ads7883-new = { path = "../../components/sources/cu_ads7883", version = "0.8.0" }
cu-rp-sn754410-new = { path = "../../components/sinks/cu_rp_sn754410", version = "0.8.0" }
cu-rp-encoder = { path = "../../components/sources/cu_rp_encoder", version = "0.8.0" }
cu-consolemon = { path = "../../components/monitors/cu_consolemon", version = "0.8.0" } # needed
cu-pid = { path = "../../components/tasks/cu_pid", version = "0.8.0" }
ctrlc = "3.4.7"

# Log reader depencies
cu29-export = { workspace = true, optional = true }

# Sim dependencies
bevy = { version = "0.16.0", default-features = false, features = ["x11", "wayland", "default_font", "bevy_render", "bevy_window", "bevy_core_pipeline", "bevy_pbr", "bevy_scene", "bevy_sprite", "bevy_gltf", "animation", "bevy_picking", "bevy_mesh_picking_backend", "tonemapping_luts", "bevy_ui", "ktx2", "jpeg", "png"], optional = true }
avian3d = { version = "0.3.0", default-features = false, features = ["bevy_scene", "collider-from-mesh", "debug-plugin", "parallel", "f32", "3d", "parry-f32"], optional = true }
cached-path = { version = "0.8.0", optional = true }
iyes_perf_ui = { version = "0.5.0", optional = true }

[features]
default = ["logreader", "sim"]
# generates an executable to read the logs
logreader = ["dep:cu29-export"]
# dependencies to build to matrix for copper
sim = ["dep:bevy", "dep:avian3d", "dep:cached-path", "dep:cu29-export"] # required for exporting simulation data
perf-ui = ["dep:iyes_perf_ui"]

[[bin]]
name = "balancebot"
path = "src/main.rs"

[[bin]]
name = "balancebot-logreader"
path = "src/logreader.rs"
required-features = ["logreader"]

[[bin]]
name = "balancebot-sim"
path = "src/sim.rs"
required-features = ["sim"]

[[bin]]
name = "balancebot-resim"
path = "src/resim.rs"
required-features = ["sim"]
