[package]
name = "cu-rp-balancebot"
description = "This is a full robot example for the Copper project. It runs on the Raspberry Pi with the balance bot hat to balance a rod."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
default-run = "balancebot-sim"

[package.metadata.cargo-machete]
ignored = ["cu29-log", "cu29-log-runtime", "cu29-unifiedlog", "copper-traits"]  # proc macro

[dependencies]
# Core dependencies
cu29 = { workspace = true }
cu29-traits = { workspace = true }
cu29-derive = { workspace = true }
cu29-helpers = { workspace = true }
cu29-log = { workspace = true }
cu29-log-runtime = { workspace = true }
cu29-log-derive = { workspace = true }
cu29-intern-strs = { workspace = true }
cu29-unifiedlog = { workspace = true }
compact_str = { workspace = true }
bincode = { workspace = true }
cu-ads7883-new = { path = "../../components/sources/cu_ads7883", version = "0.3.1" }
cu-rp-sn754410-new = { path = "../../components/sinks/cu_rp_sn754410", version = "0.3.1" }
cu-rp-encoder = { path = "../../components/sources/cu_rp_encoder", version = "0.3.1" }
cu-consolemon = { path = "../../components/monitors/cu_consolemon", version = "0.3.1" }
cu-pid = { path = "../../components/tasks/cu_pid", version = "0.3.1" }
ctrlc = "3.4.5"

# Log reader depencies
cu29-export = { workspace = true, optional = true }

# Sim dependencies
bevy = { version = "0.14.2", default-features = false, features = ["wayland", "default_font", "bevy_render", "bevy_core_pipeline", "bevy_pbr", "bevy_scene", "bevy_sprite", "bevy_gltf", "tonemapping_luts", "bevy_ui", "ktx2", "jpeg", "png"], optional = true }
bevy_mod_picking = { git = "https://github.com/copper-project/bevy_mod_picking_f64", features = ["backend_avian"], optional = true }
bevy_editor_pls = "*"
avian3d = { version = "0.1.2", default-features = false, features = ["bevy_scene", "collider-from-mesh", "debug-plugin", "parallel", "f64", "parry-f64"], optional = true }
parry3d = { version = "*", optional = true }
cached-path = { version = "0.6.1", optional = true }

[features]
default = ["logreader", "sim"]
# generates an executable to read the logs
logreader = ["cu29-export"]
# dependencies to build to matrix for copper
sim = ["bevy", "bevy_mod_picking", "avian3d", "parry3d", "cached-path"]

[[bin]]
name = "balancebot"
path = "src/main.rs"

[[bin]]
name = "balancebot-logreader"
path = "src/logreader.rs"
required-features = ["logreader"]

[[bin]]
name = "balancebot-sim"
path = "src/sim.rs"
required-features = ["sim"]