(
    tasks: [
        (
            id: "pos",
            type: "cu_ads7883::ADS7883",
        ),
        (
            id: "pidctrl",
            type: "pidtask::PIDTask",
            config: {
                // 0.009, .00004 and .005 almost there just drifts.
                // "kp": 0.024, // 1 / 168 ticks = .00593
                //"ki": 0.00005,
                //"kd": .025,
                "kp": 0.026, // 1 / 168 ticks = .00593
                "ki": 0.00005,
                "kd": -1.0,
                "setpoint": 3176.0,
                "cutoff": 170.0, // cut off if the measured value is outside of +/- 170 ticks around the setpoint
            },
        ),
        (
            id: "motor",
            type: "cu_rp_sn754410::SN754410",
            config: {
                 "deadzone": 0.25, // this is the minimum value for the motor to move.
            },
        ),
     ],
    cnx: [
        (src: "pos",  dst: "pidctrl",   msg: "cu_ads7883::ADSReadingMsg"),
        (src: "pidctrl", dst: "motor",   msg: "cu_rp_sn754410::MotorMsg"),
    ],
)
