[package]
name = "cu-ads7883-new"
description = "This is a driver for the TI ADS7883 for Copper."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }
tempfile = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
spidev = "0.7.0"

[dev-dependencies]
cu29-helpers = { workspace = true }

[build-dependencies]
cfg_aliases = "0.2.1"

[features]
default = []
mock = []
