[package]
name = "cu-msp-src"
description = "This is the source side of an MSP (Multiwii Serial Protocol) for Copper."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
serde = { workspace = true }
serialport = "4.7.0"
cu-msp-lib = { path = "../../common/cu_msp_lib", version = "0.7.0" }
smallvec = "1.14.0"
bincode = { workspace = true }

