[package]
name = "cu-multi-output"
description = "Example demonstrating multi-output tasks."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

publish = false

[dependencies]
cu29 = { workspace = true }
cu29-helpers = { workspace = true }
tempfile = { workspace = true }
serde = { workspace = true }
cu-consolemon = { path = "../../components/monitors/cu_consolemon", version = "0.11.0" }
