[package]
name = "cu-msp-bridge"
description = "Copper bridge to talk to MSP devices over serial."
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
cu29 = { workspace = true }
cu-msp-lib = { path = "../../libs/cu_msp_lib", version = "0.10.0" }
serialport = "4.8.1"
smallvec = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }
