name: "CI/CD"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  Unit-Tests:
    name: Unit Tests
    uses: ./.github/workflows/reusable-unit-tests.yml
    with:
      toolchain: stable
      linux_cargo_paths: true
  typos:
    name: Typos & Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@master
        with:
          config: ./.config/_typos.toml
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo +stable fmt --all -- --check

  embedded:
    name: CI for embedded targets
    uses: ./.github/workflows/reusable-embedded.yml
    with:
      toolchain: stable
