name: "CI/CD"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  Unit-Tests:
    name: Unit Tests
    uses: ./.github/workflows/reusable-unit-tests.yml
    with:
      toolchain: stable
      linux_cargo_paths: true
  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@master
        with:
          config: ./.config/_typos.toml
  fmt:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Install taplo-cli
        uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli
      - name: Install ronfmt
        uses: taiki-e/install-action@v2
        with:
          tool: ronfmt
      - name: Check Rust formatting
        run: cargo +stable fmt --all -- --check
      - name: Check TOML formatting
        run: git ls-files -z '*.toml' | xargs -0 taplo format --check
      - name: Check RON formatting
        run: |
          git ls-files -z '*.ron' ':!examples/modular_config_example/motors.ron' | xargs -0 -n 1 ronfmt
          find . -name '*.ron.bak' -type f -delete
          git diff --exit-code -- '*.ron'

  embedded:
    name: CI for embedded targets
    uses: ./.github/workflows/reusable-embedded.yml
    with:
      toolchain: stable
