name: "CI/CD"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_DEV_DEBUG: "0"
  CARGO_PROFILE_TEST_DEBUG: "0"
  CARGO_PROFILE_DEV_CODEGEN_UNITS: "16"
  CARGO_PROFILE_TEST_CODEGEN_UNITS: "16"
  CARGO_INCREMENTAL: "0"

jobs:
  Unit-Tests:
    name: Unit Tests
    uses: ./.github/workflows/reusable-unit-tests.yml
    with:
      toolchain: stable
      linux_cargo_paths: true
  fmt:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Install taplo-cli
        uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli, fmtron, typos
      - name: Check Rust, TOML, RON formatting
        uses: j178/prek-action@v1
        with:
          extra-args: >-
            trailing-whitespace
            check-merge-conflict
            detect-private-key
            check-case-conflict
            check-added-large-files
            check-yaml
            check-json
            check-xml
            check-symlinks
            mixed-line-ending
            typos
            check-rust
            check-ron
            check-toml

  embedded:
    name: CI for embedded targets
    uses: ./.github/workflows/reusable-embedded.yml
    with:
      toolchain: stable
