name: Pull Request Labels

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

permissions:
  contents: read
  pull-requests: read

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Check for a "do-not-merge" label
        uses: mheap/github-action-required-labels@v3
        with:
          mode: exactly
          count: 0
          labels: "do-not-merge"

      - name: Require label "include in changelog" or "exclude from changelog"
        uses: mheap/github-action-required-labels@v3
        with:
          mode: minimum
          count: 1
          labels: "exclude from changelog, include in changelog"
