[package]
name = "cu29-export"
description = "This is the library support to build log exports for the copper project. It cannot be used independently from the copper project."
documentation = "https://docs.rs/cu29-export"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true

# This is a python binding
[lib]
name = "cu29_export"
crate-type = ["cdylib", "rlib"]

[dependencies]
cu29 = { workspace = true }
clap = { workspace = true }
bincode = { workspace = true }

[target.'cfg(not(target_os = "macos"))'.dependencies]
pyo3 = { version = "0.23.3", optional = true, features = ["extension-module"] }

[dev-dependencies]
cu29-log-runtime = { workspace = true }
tempfile = { workspace = true }
fs_extra = "1.3.0"

[features]
default = []
python = ["pyo3"]
